h1{

       
        margin: 0px;
        color: rgb(32, 35, 41);
        border: none;
        font-weight: 900;
        z-index: 1;
        font-size: 5.625rem;
        line-height: 1.1;
        padding-left: 15%;
        margin-bottom: 6% ;
        margin-top: 6% ;

       
    }
 